/*
    Poll options
*/

.poll-options {
    @apply flex flex-row items-center flex-wrap;
    margin: 0 calc(0 - theme('spacing.2'));
}

.poll-options__option {
    @apply w-full m-2 mt-0 p-4;
    @apply flex flex-row items-center;
    @apply rounded border;
    @apply border-gray-500 text-gray-900;
}

.poll-options__option-radio {
    @apply h-4 mr-2 text-gray-500 flex-none;
}

.poll-options__option-label {
    @apply leading-none flex-grow;
}

.poll-options__option:checked {
    @apply text-blue-900 bg-blue-100 border-blue-500;
}

.poll-options__option-radio:checked {
    @apply text-blue-500;
}

@screen sm {
    .poll-options {
        @apply flex-no-wrap;
    }
    .poll-options__option {
        @apply w-1/3 mb-0;
    }
}
